@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap');

@import "components/device.css";

@import "reset.css";
@import "variables.css";
@import "animation.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    width: 100%;
    background-color: wheat;
}

.body-home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
}

.weather {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weather__column {
    display: flex;
    width: 100%;
    margin-top: 70px;
    padding: 0px 30px;
}

.weather__column:first-child {
    justify-content: space-between;
}

.weather__column:last-child {
    justify-content: flex-end;
    padding-bottom: 20px;
}

.weather__content {
    margin: 20px;
}

.weather__content--big,
.weather__content--small {
    font-weight: bold;
}

.weather__content--big {
    font-size: 30px;
}

.weather__content--small {
    font-size: 15px;
}

.player {
    background-color: rgba(158, 104, 62, 1);
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    margin: 30px 20px;
}

.player img {
    height: 100px;
    width: 100px;
    border-radius: 20px 0px 0px 20px;
}

.player__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 10px;
}

.player__info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player__info span:last-child {
    color: rgba(205, 129, 68, 0.8);
}

.player__play {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.player__play i:nth-child(2),
.player__play i:nth-child(4) {
    opacity: 0.5;
}

.apps {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin: 20px 40px;
}

.apps__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--mars-dark);
}

.apps__item img {
    height: 70px;
    width: 70px;
}

.apps__item:first-child img {
    margin-top: 25px;
}

.apps__item:nth-child(2) img {
    height: 60px;
    width: 60px;
    margin-bottom: 20px;
}

.apps-notification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 20px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    position: relative;
    top: 15px;
    left: 20px;
    z-index: 1;
}