@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Open+Sans&display=swap');

@import "components/device.css";
@import "components/header.css";
@import "components/nav.css";

@import "screens/device.css";
@import "screens/login.css";

@import "reset.css";
@import "variables.css";
@import "animation.css";

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    background-color: wheat;
}

.user-component {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 100px;
    padding: 20px 40px;
}

.user-component__column {
    display: flex;
    align-items: center;
}

.user-component

.user-component__profile {
    height: 80px;
    width: 80px;
    border-radius: 40%;
}