:root {
    --pink: #F329A1;
    --yellow: rgb(251, 218, 149);
    --orange: #FF914D;
    --black-light: #0B2724;
    --sky: #4AA3CB;
    --mars-dark: rgb(87, 65, 52);
    --mars-normal: rgb(158, 104, 62);
    --mars-light: rgb(205, 129, 68);
}