<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../../img/Profile.png">
    <link rel="icon" href="../../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../../css/style.css">
    <title>MarsTalk | Chat - Carmack</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>3:42</span>
            <img src="../../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>43%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">


        <div class="screen-header__title">
            <a class="screen-header__anchor" href="../chats.html">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <span>Carmack</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-solid fa-bars fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="chats-screen">

        <div class="chat-msg">
            <img src="../../../img/John_Carmack.jpeg" />
            <div class="msg__content">
                <span class="msg__author">Carmack</span>
                <div class="msg__info">
                    <span class="msg__bubble">
                        <p>
                            <span>The top of level metric should be that<span>
                            <span>You're building things of value</span>
                        </p>
                    </span>
                    <span class="msg__time">3:45PM</span>
                </div>
            </div>
        </div>

        <div class="msg__more chat-msg">
                <div class="msg__info">
                    <span class="msg__bubble">
                        <span class="msg__bubble">
                            <p>
                                <span>It sounds triter corny but<span>
                                <span>I fundamentally do think</span>
                                <span>that's how you make the world</span>
                                <span> a better</span>
                            </p>
                        </span>
                    </span>
                    <span class="msg__time">3:47PM</span>
                </div>
            </div>
        </div>
        
        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__time">3:49PM</span>
                    <span class="msg__bubble">O...Okay...?</span>
                </div>
            </div>
        </div>

        <div class="chat-msg">
            <img src="../../../img/John_Carmack.jpeg" />
            <div class="msg__content">
                <span class="msg__author">Carmack</span>
                <div class="msg__info">
                    <span class="msg__bubble">I'm a big science fiction fan</span>
                    <span class="msg__time">3:51PM</span>
                </div>
            </div>
        </div>

        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__time">3:53PM</span>
                    <span class="msg__bubble">Yeah, me too:)</span>
                </div>
            </div>
        </div>

        <div class="chat-msg">
            <img src="../../../img/John_Carmack.jpeg" />
            <div class="msg__content">
                <span class="msg__author">Carmack</span>
                <div class="msg__info">
                    <span class="msg__bubble"><p>
                        <span>You should think about</span>
                        <span>what kind of world are we building</span>
                    </p></span>
                    <span class="msg__time">3:56PM</span>
                </div>
            </div>
        </div>

        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__status">1</span>
                    <span class="msg__time">3:57PM</span>
                    <span class="msg__bubble">Thanks, I'll never forget</span>
                </div>
            </div>
        </div>

    </main>

    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="../chats.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>