<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../../img/Profile.png">
    <link rel="icon" href="../../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../../css/style.css">
    <title>MarsTalk | Chats - Gosling</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>3:42</span>
            <img src="../../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>43%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">


        <div class="screen-header__title">
            <a class="screen-header__anchor" href="../chats.html">
                <i class="fa-solid fa-chevron-left"></i>
            </a>
            <span>Gosling</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-solid fa-bars fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="chats-screen">

        <div class="chat-msg">
            <img src="../../../img/James Gosling.jpg" />
            <div class="msg__content">
                <span class="msg__author">Gosling</span>
                <div class="msg__info">
                    <span class="msg__bubble">
                        <p>
                            <span>I started to think about<span>
                            <span>ethical choices in my life</span>
                        </p>
                    </span>
                    <span class="msg__time">3:30PM</span>
                </div>
            </div>
        </div>

        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__time">3:32PM</span>
                    <span class="msg__bubble">O...Okay...?</span>
                </div>
            </div>
        </div>

        <div class="chat-msg">
            <img src="../../../img/James Gosling.jpg" />
            <div class="msg__content">
                <span class="msg__author">Gosling</span>
                <div class="msg__info">
                    <span class="msg__bubble">I'm a big science fiction fan</span>
                    <span class="msg__time">3:35PM</span>
                </div>
            </div>
        </div>

        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__time">3:37PM</span>
                    <span class="msg__bubble">Yeah, me too:)</span>
                </div>
            </div>
        </div>

        <div class="chat-msg">
            <img src="../../../img/James Gosling.jpg" />
            <div class="msg__content">
                <span class="msg__author">Gosling</span>
                <div class="msg__info">
                    <span class="msg__bubble"><p>
                        <span>You should think about</span>
                        <span>what kind of world are we building</span>
                    </p></span>
                    <span class="msg__time">3:40PM</span>
                </div>
            </div>
        </div>

        <div class="chat-msg my-msg">
            <div class="msg__content">
                <div class="msg__info">
                    <span class="msg__status">1</span>
                    <span class="msg__time">3:42PM</span>
                    <span class="msg__bubble">Thanks, I'll never forget</span>
                </div>
            </div>
        </div>

        <div class="keyboard">
            <div class="chat-window">
                <div class="chat__icon chat__plus">
                    <i class="fa-regular fa-plus"></i>
                </div>
                <div class="chat-window__chat">
                    <div class="chat__bar"></div>
                </div>
                <div class="chat__icon chat__hash">
                    <i class="fa-regular fa-face-smile"></i>
                    <i class="fa-regular fa-hashtag"></i>
                </div>
            </div>
            <div class="keyboard__keys">
                <div class="keyboard__column">
                    <span class="keyboard__column--item">1</span>
                    <span class="keyboard__column--item">2</span>
                    <span class="keyboard__column--item">3</span>
                    <span class="keyboard__column--item">4</span>
                    <span class="keyboard__column--item">5</span>
                    <span class="keyboard__column--item">6</span>
                    <span class="keyboard__column--item">7</span>
                    <span class="keyboard__column--item">8</span>
                    <span class="keyboard__column--item">9</span>
                    <span class="keyboard__column--item">0</span>
                </div>
                <div class="keyboard__column">
                    <span class="keyboard__column--item">Q</span>
                    <span class="keyboard__column--item">W</span>
                    <span class="keyboard__column--item">E</span>
                    <span class="keyboard__column--item">R</span>
                    <span class="keyboard__column--item">T</span>
                    <span class="keyboard__column--item">Y</span>
                    <span class="keyboard__column--item">U</span>
                    <span class="keyboard__column--item">I</span>
                    <span class="keyboard__column--item">O</span>
                    <span class="keyboard__column--item">P</span>
                </div>
                <div class="keyboard__column">
                    <span class="keyboard__column--item">A</span>
                    <span class="keyboard__column--item">S</span>
                    <span class="keyboard__column--item">D</span>
                    <span class="keyboard__column--item">F</span>
                    <span class="keyboard__column--item">G</span>
                    <span class="keyboard__column--item">H</span>
                    <span class="keyboard__column--item">J</span>
                    <span class="keyboard__column--item">K</span>
                    <span class="keyboard__column--item">L</span>
                </div>
                <div class="keyboard__column">
                    <i class="keys__fourth keyboard__column--item fa-light fa-up"></i>
                    <span class="keyboard__column--item">Z</span>
                    <span class="keyboard__column--item">X</span>
                    <span class="keyboard__column--item">C</span>
                    <span class="keyboard__column--item">V</span>
                    <span class="keyboard__column--item">B</span>
                    <span class="keyboard__column--item">N</span>
                    <span class="keyboard__column--item">M</span>
                    <i class="keys__fourth keyboard__column--item fa-regular fa-delete-left"></i>
                </div>
                <div class="keyboard__column">
                    <span class="keyboard__column--item">!#1</span>
                    <i class="keyboard__column--item fa-regular fa-globe"></i>
                    <span class="keyboard__column--item">,</span>
                    <i class="keys__space keyboard__column--item fa-light fa-keyboard-brightness"></i>
                    <span class="keyboard__column--item">.</span>
                    <i class="keyboard__column--item fa-solid fa-arrow-turn-down-left"></i>
                </div>
            </div>
        </div>

    </main>

    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="../chats.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>