.nav {
    width: 100%;
    position: fixed;
    bottom: 4vh;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
}

.nav__list {
    display: flex;
}

.nav_notification {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: tomato;
    color: white;
    font-weight: bold;
    font-size: 15px;
    position: relative;
    bottom: 12px;
    left: 42px;
    z-index: 1;
    cursor: pointer;
}