<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../img/Profile.png">
    <link rel="icon" href="../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../css/style.css">
    <title>MarsTalk | Chats</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>2:45</span>
            <img src="../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>47%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">

        <div class="screen-header__title">
            <span>Chats</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comment-plus fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comments fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-gear fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="chats-screen">

        <a class="chat-room" href="chat_contents/nico.html">
            <div class="user-component chat-user-component">
                <div class="user-component__column">
                    <img class="user-component__profile" src="../../img/Nicolas.png"/>
                    <div class="user-component__text">
                        <h4 class="user-component__title">In Park</h4>
                        <h6 class="user-component__title">안녕하십니까! 니콜라~쓰입니다!</h6>
                    </div>
                </div>
                <div class="user-component__chat">
                    <div class="chat-notification">1</div>
                    <span>2:45PM</span>
                </div>
            </div>
        </a>

        <a class="chat-room" href="chat_contents/gosling.html">
            <div class="user-component chat-user-component">
                <div class="user-component__column">
                    <img class="user-component__profile" src="../../img/James Gosling.jpg"/>
                    <div class="user-component__text">
                        <h4 class="user-component__title">Gosling</h4>
                        <h6 class="user-component__title">I started to think about...</h6>
                    </div>
                </div>
                <div class="user-component__chat">
                    <div class="chat-notification">1</div>
                    <span>3:10PM</span>
                </div>
            </div>
        </a>

        <a class="chat-room" href="chat_contents/carmack.html">
            <div class="user-component chat-user-component">
                <div class="user-component__column">
                    <img class="user-component__profile" src="../../img/John_Carmack.jpeg"/>
                    <div class="user-component__text">
                        <h4 class="user-component__title">Mars Shot</h4>
                        <h6 class="user-component__title">The top of level metric ...</h6>
                    </div>
                </div>
                <div class="user-component__chat">
                    <div class="chat-notification">2</div>
                    <span>3:45PM</span>
                </div>
            </div>
        </a>

    </main>

    <nav class="nav">
        <ul class="nav-container">
            <li class="nav__list">
                <a href="friends.html" class="nav__list--link">
                    <i class="fa-regular fa-user fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <div class="nav_notification">4</div>
                <a href="chats.html" class="nav__list--link">
                    <i class="fa-solid fa-comment fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="view.html" class="nav__list--link">
                    <i class="fa-regular fa-eye fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="shop.html" class="nav__list--link">
                    <i class="fa-regular fa-bag-shopping fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="see_more.html" class="nav__list--link">
                    <i class="fa-regular fa-ellipsis-stroke-vertical fa-2x"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="marstalk.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>