<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../img/Profile.png">
    <link rel="icon" href="../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../css/style.css">
    <title>MarsTalk | Log In</title>
</head>
<body class="body-welcome">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>2:09</span>
            <img src="../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>48%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>



    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to MarsTalk!</h1>
        <p class="welcome-header__content">
            If you have a Marshot account, log in with your email or phone number.
        </p>
    </header>

    <form id="login-form" action="friends.html" method="GET"> <!-- Need to change to 'POST'-->

        <input
        type="email"
        placeholder="Email or Phone Number"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Email or Phone Number'"
        required />
        
        <input
        type="password"
        placeholder="Password"
        onfocus="this.placeholder=''"
        onblur="this.placeholder='Password'"
        required />
        
        <input
        type="submit"
        value="Log In"
        />
        
        <input
        type="submit"
        value="Sign Up"
        />

        <div class="login-path login-create__wrapper">
            <span>If you don't have an account, Please </span>
            <a class="login-create__link" href="#">Create an account</a>
        </div>

        <div class="login-path login-find__wrapper">
            <span>Forgot your account?</span>
            <a class="login-find__link" href="#">Click!</a>
        </div>

        <div class="login-line">
            <hr><span>OR</span><hr>
        </div>

        <button class="external-login login-github">
            <i class="fa-brands fa-github fa-2x"></i>
            <span>Log In with Github</span>
        </button>
        <button class="external-login login-google">
            <i class="fa-brands fa-google fa-2x"></i>
            <span>Log In with Google</span>
        </button>

    </form>



    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>


    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>