<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../img/Profile.png">
    <link rel="icon" href="../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../css/style.css">
    <title>MarsTalk | See more</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>2:45</span>
            <img src="../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>47%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">

        <div class="screen-header__title">
            <span>See more</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comment-plus fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comments fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-gear fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="chats-screen">

        <section class="mstk-wallet">
            <div class="wallet__container">
                <div class="wallet__column">
                    <div class="wallet__column--item wallet__column--wallet">
                        <span>지갑</span>
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                    <div class="wallet__column--item">
                        <i class="fa-solid fa-file-certificate"></i>
                        <span>인증서</span>
                    </div>
                </div>
                <div class="wallet__column">
                    <div class="wallet__column--item">
                        <i class="fa-solid fa-file-certificate"></i>
                        <span>주민등록등본 톡으로 5초만에 받기</span>
                    </div>
                    <div class="wallet__column--item">
                        <i class="fa-solid fa-chevron-right"></i>
                    </div>
                </div>
                <div class="wallet__column">
                    <div class="wallet__column--item">
                        <i class="fa-solid fa-comment"></i>
                        <span>pay</span>
                    </div>
                    <div class="wallet__column--item">
                        <span>8, 901, 455, 109, 678원</span>
                    </div>
                </div>
                <div class="wallet__column">
                    <div class="wallet__column--item">
                        <span>송금</span>
                        <span>결제</span>
                        <span>자산</span>
                    </div>
                    <div class="wallet__column--item">
                        <i class="fa-regular fa-cart-shopping"></i>
                        <span>구매내역</span>
                    </div>
                </div>
            </div>
        </section>

        <section class="mstk-others">
            <div class="others-column">
                <div class="others__item">
                    <i class="fa-regular fa-gift fa-2x"></i>
                    <span>선물하기</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-box-heart fa-2x"></i>
                    <span>받은선물</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-house-heart fa-2x"></i>
                    <span>설날선물전</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-face-smile fa-2x"></i>
                    <span>이모티콘</span>
                </div>
            </div>
            <div class="others-column">
                <div class="others__item">
                    <i class="fa-solid fa-store fa-2x"></i>
                    <span>쇼핑하기</span>
                </div>
                <div class="others__item">
                    <i class="fa-solid fa-m fa-2x"></i>
                    <span>메이커스</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-teddy-bear fa-2x"></i>
                    <span>프렌즈</span>
                </div>
                <div class="others__item">
                    <i class="fa-solid fa-clothes-hanger fa-2x"></i>
                    <span>패션</span>
                </div>
            </div>
            <div class="others-column">
                <div class="others__item">
                    <i class="fa-regular fa-cabinet-filing fa-2x"></i>
                    <span>톡서랍</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-envelope fa-2x"></i>
                    <span>메일</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-calendar-check fa-2x"></i>
                    <span>캘린더</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-comments fa-2x"></i>
                    <span>오픈채팅</span>
                </div>
            </div>
            <div class="others-column">
                <div class="others__item">
                    <i class="fa-regular fa-gamepad-modern fa-2x"></i>
                    <span>게임</span>
                </div>
                <div class="others__item">
                    <i class="fa-light fa-bowl-food fa-2x"></i>
                    <span>주문하기</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-music fa-2x"></i>
                    <span>멜론티켓</span>
                </div>
                <div class="others__item">
                    <i class="fa-regular fa-bars fa-2x"></i>
                    <span>전체서비스</span>
                </div>
            </div>
        </section>

        <div class="shop__shopping">
            <img src="../../img/shop_2.jpg" />
            <div>Recommended Live</div>
            <span>쇼핑 라이브: 알록달록 종이가방 - 50% 할인!</span>
        </div>

    </main>

    <nav class="nav">
        <ul class="nav-container">
            <li class="nav__list">
                <a href="friends.html" class="nav__list--link">
                    <i class="fa-regular fa-user fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <div class="nav_notification">4</div>
                <a href="chats.html" class="nav__list--link">
                    <i class="fa-regular fa-comment fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="view.html" class="nav__list--link">
                    <i class="fa-regular fa-eye fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="shop.html" class="nav__list--link">
                    <i class="fa-regular fa-bag-shopping fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="see_more.html" class="nav__list--link">
                    <i class="fa-solid fa-ellipsis-vertical fa-2x"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="marstalk.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>