<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../img/Profile.png">
    <link rel="icon" href="../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../css/style.css">
    <title>MarsTalk | Shop</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>2:45</span>
            <img src="../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>47%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">

        <div class="screen-header__title">
            <span>Shop</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comment-plus fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comments fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-gear fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="chats-screen">

        <section class="mstk-shop">

            <div class="shop__items">
                <div class="shop__item">
                    <i class="fa-regular fa-gift fa-2x"></i>
                    <span>Gifts</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-store fa-2x"></i>
                    <span>Go</span>
                    <span>shopping</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-m fa-2x"></i>
                    <span>Makers</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-teddy-bear fa-2x"></i>
                    <span>Friends</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-cart-shopping fa-2x"></i>
                    <span>Live</span>
                    <span>Shopping</span>
                </div>
            </div>

            <div class="shop__shopping">
                <img src="../../img/shop_1.jpg" />
                <div>Recommended Live</div>
                <span>쇼핑 라이브: 알록달록 종이가방 - 50% 할인!</span>
            </div>

            <div class="shop__my-shopping">
                <div class="shop__my--profile">
                    <img src="../../img/Profile.png" />
                    <span>내 쇼핑</span>
                    <i class="fa-solid fa-chevron-right"></i>
                </div>
                <div class="shop__my--menu">
                    <span>최근 주문</span>
                    <span>선물함</span>
                </div>
            </div>

            <div class="shop__items">
                <div class="shop__item">
                    <i class="fa-regular fa-gift fa-2x"></i>
                    <span>Gifts</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-store fa-2x"></i>
                    <span>Go</span>
                    <span>shopping</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-m fa-2x"></i>
                    <span>Makers</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-teddy-bear fa-2x"></i>
                    <span>Friends</span>
                </div>
                <div class="shop__item">
                    <i class="fa-regular fa-cart-shopping fa-2x"></i>
                    <span>Live</span>
                    <span>Shopping</span>
                </div>
            </div>

    </main>

    <nav class="nav">
        <ul class="nav-container">
            <li class="nav__list">
                <a href="friends.html" class="nav__list--link">
                    <i class="fa-regular fa-user fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <div class="nav_notification">4</div>
                <a href="chats.html" class="nav__list--link">
                    <i class="fa-regular fa-comment fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="view.html" class="nav__list--link">
                    <i class="fa-regular fa-eye fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="shop.html" class="nav__list--link">
                    <i class="fa-solid fa-bag-shopping fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="see_more.html" class="nav__list--link">
                    <i class="fa-regular fa-ellipsis-stroke-vertical fa-2x"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="marstalk.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>