<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="We solve the gap of knowledges and informations">
    <meta property="og:title" content="MARSHOT PROJECT">
    <meta property="og:image" content="../img/Profile.png">
    <link rel="icon" href="../../img/Tap_icon-removebg-preview.png" >
    <link rel="stylesheet" href="../css/style.css">
    <title>MarsTalk | View</title>
</head>
<body class="body-chat">
    

    <div class="status_bar">

        <div class="status_bar__column status_bar__left">
            <span>SKT</span>
            <span>4:11</span>
            <img src="../../img/MARSTALK-removebg-preview.png" />
        </div>

        <div class="status_bar__column status_bar__camera">
            <div class="status_bar__lens"></div>
        </div>

        <div class="status_bar__column status_bar__right">
            <i class="fa-solid fa-alarm-clock"></i>
            <span>5G</span>
            <i class="fa-solid fa-signal"></i>
            <span>45%</span>
            <i class="fa-solid fa-battery-half"></i>
        </div>

    </div>


    <header class="screen-header">

        <div class="screen-header__title">
            <span>View</span>
        </div>

        <div class="screen-header__text">
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-magnifying-glass fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comment-plus fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-comments fa-lg"></i>
            </a>
            <a href="#" class="screen-header--item">
                <i class="fa-regular fa-gear fa-lg"></i>
            </a>
        </div>

    </header>

    <main id="view-screen">

        <div class="division">
            <span class="division__text">Recommended Viedeos</span>
            <i class="division__icon fa-regular fa-chevron-up"></i>
        </div>

        
        <div class="scroll-component">
            <a class="view-link" href="https://www.youtube.com/watch?v=RBdqpuvrMTU" target="_blank">
                <div class="scroll-component__container">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_4.png"/>
                    <span class="user-component__title">악어의 한...</span>
                    <span class="view-updated">1 day ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_2.png"/>
                    <span class="user-component__title">2023년, F...</span>
                    <span class="view-updated">12 days ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_8.png"/>
                    <span class="user-component__title">전설의 프...</span>
                    <span class="view-updated">3 months ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_5.png"/>
                    <span class="user-component__title">조던 피터...</span>
                    <span class="view-updated">7 months ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_7.png"/>
                    <span class="user-component__title">Array 배열...</span>
                    <span class="view-updated">1 year ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_1.png"/>
                    <span class="user-component__title">블록체인...</span>
                    <span class="view-updated">1 year ago</span>
                </div>
            </a>
            <a class="view-link" href="#">
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/youtube_6.png"/>
                    <span class="user-component__title">후 아 유...?</span>
                    <span class="view-updated">2 years ago</span>
                </div>
            </a>
        </div>

        <div class="division">
            <span class="division__text">Recommended Courses</span>
            <i class="division__icon fa-regular fa-chevron-up"></i>
        </div>

        <div class="scroll-component">
            <a class="view-link" href="https://nomadcoders.co/kokoa-clone">
                <div class="scroll-component__container">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_1.png"/>
                    <span class="user-component__title">코코아톡</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="https://nomadcoders.co/javascript-for-beginners"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_2.png"/>
                    <span class="user-component__title">크롬 앱</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="#"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_3.png"/>
                    <span class="user-component__title">그림 앱</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="#"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_4.png"/>
                    <span class="user-component__title">유튜브</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="#"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_5.png"/>
                    <span class="user-component__title">웹 스크래퍼</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="#"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_6.png"/>
                    <span class="user-component__title">에어비앤비</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
            <a class="view-link" href="#"></a>
                <div class="scroll-component__container" target="_blank">
                    <div class="updated-notification"></div>
                    <img class="user-component__profile" src="../../img/course_7.png"/>
                    <span class="user-component__title">우버 이츠</span>
                    <span class="view-updated">노마드코더</span>
                </div>
            </a>
        </div>

        <div class="division">
            <span class="division__text">Today's Books</span>
            <i class="division__icon fa-regular fa-chevron-up"></i>
        </div>

        <div class="view-post">
            <span>천 개의 뇌</span>
            <img src="../../img/A thousand brains.jfif">
        </div>
        <div class="view-post">
            <span>12가지 인생의 법칙</span>
            <img src="../../img/12 Rules of Life.png">
        </div>
        <div class="view-post">
            <span>질서 너머</span>
            <img src="../../img/Beyond Order.jpg">
        </div>

    </main>

    <nav class="nav">
        <ul class="nav-container">
            <li class="nav__list">
                <a href="friends.html" class="nav__list--link">
                    <i class="fa-regular fa-user fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <div class="nav_notification">4</div>
                <a href="chats.html" class="nav__list--link">
                    <i class="fa-regular fa-comment fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="view.html" class="nav__list--link">
                    <i class="fa-solid fa-eye fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="shop.html" class="nav__list--link">
                    <i class="fa-regular fa-bag-shopping fa-2x"></i>
                </a>
            </li>
            <li class="nav__list">
                <a href="see_more.html" class="nav__list--link">
                    <i class="fa-regular fa-ellipsis-stroke-vertical fa-2x"></i>
                </a>
            </li>
        </ul>
    </nav>


    <div class="device_nav">
        <a class="device_nav__column" href="#">
            <div class="device_nav__hover">
                <i class="fa-solid fa-bars fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="/index.html">
            <div class="device_nav__hover">
                <i class="fa-regular fa-square fa-lg"></i>
            </div>
        </a>
        <a class="device_nav__column" href="marstalk.html">
            <div class="device_nav__hover">
                <i class="fa-solid fa-angle-left fa-lg"></i>
            </div>
        </a>
    </div>

    <script src="https://kit.fontawesome.com/4ad1008042.js" crossorigin="anonymous"></script>
</body>
</html>